imageContentSources:
  - mirrors:
    - bastion.sandbox915.opentlc.com:8443/openshift/release
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - bastion.sandbox915.opentlc.com:8443/openshift/release-images
    source: quay.io/openshift-release-dev/ocp-release
pullSecret: ' {"auths": {"bastion.sandbox915.opentlc.com:8443": {"auth": "aW5pdDppMHo3YlBOQzEzOFRSWWdFbGpkbmhKazI2WnQ0ZVg1OQ=="}}}'
sshKey: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINxc8zzyxjxZ9Ves9OrVpsgdCNRCYRC9hSNEOdpE/SIn ec2-user@bastion.sandbox915.opentlc.com'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIEAjCCAuqgAwIBAgIUNm/A5odqL+CpjwzVG4tQ44du2rowDQYJKoZIhvcNAQEL
  BQAweDELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAlZBMREwDwYDVQQHDAhOZXcgWW9y
  azENMAsGA1UECgwEUXVheTERMA8GA1UECwwIRGl2aXNpb24xJzAlBgNVBAMMHmJh
  c3Rpb24uc2FuZGJveDkxNS5vcGVudGxjLmNvbTAeFw0yNTA4MDgwMzA0MTZaFw0y
  ODA1MjgwMzA0MTZaMHgxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJWQTERMA8GA1UE
  BwwITmV3IFlvcmsxDTALBgNVBAoMBFF1YXkxETAPBgNVBAsMCERpdmlzaW9uMScw
  JQYDVQQDDB5iYXN0aW9uLnNhbmRib3g5MTUub3BlbnRsYy5jb20wggEiMA0GCSqG
  SIb3DQEBAQUAA4IBDwAwggEKAoIBAQCowFQsJW97ybgNgTTuYQcQah9ezW6UIeGa
  e9A7OEmPVry0RKpM1rHh/2Rumb6cwA4N6qTb24tUe9GnGfRbnICtjrQ94zEW7JtP
  ghDyUBh+xBgCc430zp85xo5PKyPKdIqRT5lXtONX6TTuvneXEc94yu2x6tvfoTTU
  rANKNGFe14PCjT3XZPlYyt5epseJEdydr/MEd5YlzPVJUQS2Kc/jjLzE5IXdtRoQ
  ukte2UDIkP5ick8sOG+6EPdHELcCakbR+F14nwpBw6bE3EBACaHUkGEht/pndE3y
  ahuwYSjB35s+cnI/Ka55CnklRF21SDGCtl3oEtG26GHCQUtZcHqXAgMBAAGjgYMw
  gYAwCwYDVR0PBAQDAgLkMBMGA1UdJQQMMAoGCCsGAQUFBwMBMCkGA1UdEQQiMCCC
  HmJhc3Rpb24uc2FuZGJveDkxNS5vcGVudGxjLmNvbTASBgNVHRMBAf8ECDAGAQH/
  AgEBMB0GA1UdDgQWBBTQq412tRQslbxZq20fghndrRJz4DANBgkqhkiG9w0BAQsF
  AAOCAQEAi9O+4pLDi5orx/jJix80xYvi9hs/RJRO9xtDsbQiTdz+MhLmumAhpr+q
  f5witRkzFhJGJZGX4WhPJIoU9QjIp1CQ/l9b48DmvK4OQ35RdIB9d75qZBshRBSP
  eKJ2YGEvKtBfYezHWN2q4Ia4PZyE1X2gW4A7LCYM5e6n1DHS7WrEiIGCNpEVhHH8
  ApHXYKVUSDHKGbuREqb9WtUsqLrxFkUcrB4KmAb9ur79yJtAAPOZr8LTHwW9hXDR
  QIBBL9tsW4jFTdhY9vahbgUdezs6FnP3MfDYruJCsizE1N9NMiHdHvKUXyFjz5su
  OObtne7XyqUlo6RlBSXo83Xo9eYPzA==
  -----END CERTIFICATE-----
